<mat-card>
    <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="userData.Email" placeholder="Email" type="email" name="Email">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="userData.DateOfBirth" placeholder="Date of Birth" type="date"
                    name="DateOfBirth">
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="editUser()" color="primary">
            Update profile
        </button>
    </mat-card-actions>
</mat-card>