<div style="display: flex">
    <mat-card *ngFor="let Director of data.Directors;">
        <mat-card-header>
            <mat-card-title>{{Director.Name}}</mat-card-title>
            <img mat-card-avatar src={{Director.ImagePath}} alt={{Director.ImagePath}} />
            <mat-card-subtitle>
                {{Director.BirthYear | date: 'yyyy'}} - {{Director.DeathYear | date: 'yyyy'}}
            </mat-card-subtitle>
        </mat-card-header>

        <p>{{Director.Bio}}</p>
    </mat-card>
</div>